{% macro bannerMacro() %}{% if bannerImage.url and bannerImage.altTag %}
![{{ bannerImage.altTag }}]({{ bannerImage.url }}){% endif %}
{% endmacro %}




{% macro headerMacro() %}{% if headerTitle or badgeList|length or headerDescription %}{% if headerTitle %}
# {{ headerTitle }}{% endif %}{% if badgeList|length %}
{% for item in badgeList %}{% if item.altTag|length and item.url|length %}
[![{{ item.altTag }}]({{ item.url }})]({{ item.url }}){% endif %}{% endfor %}{% endif %}
{% endif %}{% if headerDescription %}
{{ headerDescription }}{% endif %}
{% endmacro %}




{% macro quickStartDemoMacro() %}{% if (demoPreview.altTag and demoPreview.url) or demoDescription %}
# Quick Start Demo{% if demoPreview.altTag and demoPreview.url %}

![{{ demoPreview.altTag }}]({{ demoPreview.url }}){% endif %}{% if demoDescription %}

{{ demoDescription }}{% endif %}{% endif %}
{% endmacro %}




{% macro tableOfContentsMacro() %}{% if tableOfContentsDescription or isTitleEnabled or isQuickstartDemoEnabled or isTableOfContentsEnabled or isInstallationEnabled or isUsageEnabled or isDevelopmentEnabled or isContributeEnabled or isLicenseEnabled %}
# Table of Contents{% if tableOfContentsDescription %}

{{ tableOfContentsDescription }}{% endif %}{% if (isTitleEnabled.title and isTitleEnabled.url) and isTitleEnabled.isEnabled %}
- [{{ isTitleEnabled.title }}](#{{ isTitleEnabled.url }}){% endif %}{% if isQuickstartDemoEnabled %}
- [Quick Start Demo](#quick-start-demo){% endif %}{% if isTableOfContentsEnabled %}
- [Table of Contents](#table-of-contents){% endif %}{% if isInstallationEnabled %}
- [Installation](#installation){% endif %}{% if isUsageEnabled %}
- [Usage](#usage){% endif %}{% if isDevelopmentEnabled %}
- [Development](#development){% endif %}{% if isContributeEnabled %}
- [Contribute](#contribute){% endif %}{% if isLicenseEnabled %}
- [License](#license){% endif %}
{% endif %}
{% endmacro %}




{% macro installationMacro() %}{% if isBackToTopEnabled or installationDescription %}
# Installation{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if installationDescription %}

{{ installationDescription }}{% endif %}
{% endif %}
{% endmacro %}




{% macro usageMacro() %}{% if isBackToTopEnabled or usageDescription %}
# Usage{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if usageDescription %}

{{ usageDescription }}{% endif %}
{% endif %}
{% endmacro %}




{% macro developmentMacro() %}{% if isBackToTopEnabled or developmentDescription %}
# Development{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if developmentDescription %}

{{ developmentDescription }}{% endif %}
{% endif %}
{% endmacro %}




{% macro contributeMacro() %}{% if isBackToTopEnabled or contributeDescription %}
# Contribute{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if contributeDescription %}

{{ contributeDescription }}{% endif %}
{% endif %}
{% endmacro %}




{% macro licenseMacro() %}{% if isBackToTopEnabled or licenseDescription %}
# License{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if licenseDescription %}

{{ licenseDescription }}{% endif %}
{% endif %}
{% endmacro %}
