{% macro licenseMacro() %}{% if isBackToTopEnabled or licenseDescription %}
# License{% if isBackToTopEnabled %}
[(Back to top)](#table-of-contents){% endif %}{% if licenseDescription %}

{{ licenseDescription }}{% endif %}
{% endif %}
{% endmacro %}
