{% macro documentationThatMightHelpMacro() %}{% if documentationThatMightHelpDescription %}
<h3>Documentations that might help</h3>

{{ documentationThatMightHelpDescription }}{% endif %}
{% endmacro %}