{% macro projectHeaderMacro() %}{% if projectTitle %}{% if projectTitle %}
<h1 align="center" style="font-weight: bold;">{{ projectTitle }}</h1>{% endif %}
{% if isTechnologiesSection or isGettingStartedSection or isAPIEndpointsSection or isCollaboratorsSection or isContributeSection %}
<p align="center">
{% if isTechnologiesSection %}<a href="#tech">Technologies</a>{% endif %}
{% if isGettingStartedSection %}<a href="#started">Getting Started</a>{% endif %}
{% if isAPIEndpointsSection %}<a href="#routes">API Endpoints</a>{% endif %}
{% if isCollaboratorsSection %}<a href="#colab">Collaborators</a>{% endif %}
{% if isContributeSection %}<a href="#contribute">Contribute</a>{% endif %} 
</p>
{% endif %}

{% if projectDescription %}<p align="center">{{ projectDescription }}</p>
{% endif %}

{% if projectCallToAction.url and projectCallToAction.text %}<p align="center">
<a href="{{ projectCallToAction.url }}">{{ projectCallToAction.text }}</a>
</p>
{% endif %}{% endif %}{% endmacro %}




{% macro technologiesMacro() %}{% if technologyDescription %}
<h2 id="technologies">💻 Technologies</h2>

{{ technologyDescription }}{% endif %}
{% endmacro %}




{% macro gettingStartedMacro() %}{% if gettingStartedDescription %}
<h2 id="started">🚀 Getting started</h2>

{{ gettingStartedDescription }}{% endif %}
{% endmacro %}




{% macro prerequisitesMacro() %}{% if prerequisitesDescription %}
<h3>Prerequisites</h3>

{{ prerequisitesDescription }}{% endif %}
{% endmacro %}




{% macro cloningMacro() %}{% if cloningDescription %}
<h3>Cloning</h3>

{{ cloningDescription }}{% endif %}
{% endmacro %}




{% macro configEnvironmentVariablesMacro() %}{% if configEnvironmentVariablesDescription %}
<h3>Config .env variables</h2>

{{ configEnvironmentVariablesDescription }}{% endif %}
{% endmacro %}




{% macro startingMacro() %}{% if startingDescription %}
<h3>Starting</h3>

{{ startingDescription }}{% endif %}
{% endmacro %}




{% macro apiEndpointsMacro() %}{% if apiEndpointsDescription %}
<h2 id="routes">📍 API Endpoints</h2>

{{ apiEndpointsDescription }}{% endif %}
{% endmacro %}





{% macro collaboratorsMacro() %}{% if collaboratorsDescription or collaboratorsList|length %}
<h2 id="colab">🤝 Collaborators</h2>{% if collaboratorsDescription %}

<p>{{ collaboratorsDescription }}</p>{% endif %}{% if collaboratorsList|length %}
<table>
<tr>
{% for item in collaboratorsList %}
<td align="center">
<a href="{{ item.githubURL }}">
<img src="{{ item.profilePictureURL }}" width="100px;" alt="{{ item.name }} Profile Picture"/><br>
<sub>
<b>{{ item.name }}</b>
</sub>
</a>
</td>
{% endfor %}
</tr>
</table>{% endif %}{% endif %}
{% endmacro %}




{% macro contributeMacro() %}{% if contributeDescription %}
<h2 id="contribute">📫 Contribute</h2>

{{ contributeDescription }}{% endif %}
{% endmacro %}




{% macro documentationThatMightHelpMacro() %}{% if documentationThatMightHelpDescription %}
<h3>Documentations that might help</h3>

{{ documentationThatMightHelpDescription }}{% endif %}
{% endmacro %}

{# {% macro projectHeaderMacro() %}
{% if logoURL or headline or catchphrase or exploreTheDocsURL or viewDemoURL or reportBugURL or requestFeatureURL %}<br/>
<div align="center">
{% if logoURL %}<a href="https://github.com/ShaanCoding/ReadME-Generator">
<img src="{{ logoURL }}" alt="Logo" width="80" height="80">
</a>{% endif %}
{% if headline %}<h3 align="center">{{ headline }}</h3>{% endif %}
{% if catchphrase or exploreTheDocsURL or viewDemoURL or reportBugURL or requestFeatureURL %}<p align="center">
{{ catchphrase }}
{% if exploreTheDocsURL %}<br/>
<br/>
<a href="{{ exploreTheDocsURL }}"><strong>Explore the docs »</strong></a>{% endif %}
{% if viewDemoURL or reportBugURL or requestFeatureURL %}<br/>
<br/>{% endif %}
{% if viewDemoURL %}<a href="{{ viewDemoURL }}">View Demo .</a>{% endif %}  
{% if reportBugURL %}<a href="{{ reportBugURL }}">Report Bug .</a>{% endif %}
{% if requestFeatureURL %}<a href="{{ requestFeatureURL }}">Request Feature</a>{% endif %}
</p>{% endif %}
</div>
{% endif %}
{% endmacro %}




{% macro aboutTheProjectMacro() %}{% if productScreenshot.altTag and productScreenshot.url or aboutTheProjectDescription %}## About The Project{% if productScreenshot.altTag and productScreenshot.url %}

![{{ productScreenshot.altTag }}]({{ productScreenshot.url }}){% endif %}{% if aboutTheProjectDescription %}

{{ aboutTheProjectDescription }}{% endif %}
{% endif %}{% endmacro %}




{% macro builtWithMacro() %}{% if builtWithDescription or builtWithList %}### Built With{% if builtWithDescription %}

{{ builtWithDescription }}{% endif %}{% if builtWithList %}
{% for item in builtWithList %}{% if item.name|length and item.url|length %}
- [{{ item.name }}]({{ item.url }}){% endif %}{% endfor %}{% endif %}
{% endif %}{% endmacro %}




{% macro gettingStartedMacro() %}{% if gettingStartedDescription %}## Getting Started

{{ gettingStartedDescription }}{% endif %}
{% endmacro %}




{% macro prerequisitesMacro() %}{% if prerequisitesDescription %}### Prerequisites

{{ prerequisitesDescription }}{% endif %}
{% endmacro %}




{% macro installationMacro() %}{% if installationDescription %}### Installation

{{ installationDescription }}{% endif %}
{% endmacro %}




{% macro usageMacro() %}{% if usageDescription %}## Usage

{{ usageDescription }}{% endif %}
{% endmacro %}




{% macro roadmapMacro() %}{% if roadmapDescription or openIssuesURL %}## Roadmap{% if roadmapDescription %}

{{ roadmapDescription }}{% endif %}{% if openIssuesURL %}

See the [open issues]({{ openIssuesURL }}) for a full list of proposed features (and known issues).{% endif %}{% endif %}
{% endmacro %}




{% macro contributingMacro() %}{% if contributingDescription %}## Contributing

{{ contributingDescription }}{% endif %}
{% endmacro %}




{% macro licenseMacro() %}{% if licenseName and licenseURL_url %}## License

Distributed under the {{ licenseName }} License. See [{{ licenseName }} License]({{ licenseURL_url }}) for more information.{% endif %}
{% endmacro %}




{% macro contactMacro() %}{% if contactDescription %}## Contact

{{ contactDescription }}{% endif %}
{% endmacro %}




{% macro acknowledgmentsMacro() %}{% if acknowledgmentsDescription or acknowledgmentsList %}## Acknowledgments{% if acknowledgmentsDescription %}

{{ acknowledgmentsDescription }}{% endif %}{% if acknowledgmentsList %}

{% for item in acknowledgmentsList %}{% if item.name|length and item.url|length %}
- [{{ item.name }}]({{ item.url }}){% endif %}{% endfor %}{% endif %}{% endif %}
{% endmacro %} #}