{% macro projectHeaderMacro() %}
{% if logoURL or headline or catchphrase or exploreTheDocsURL or viewDemoURL or reportBugURL or requestFeatureURL %}<br/>
<div align="center">
{% if logoURL %}<a href="https://github.com/ShaanCoding/ReadME-Generator">
<img src="{{ logoURL }}" alt="Logo" width="80" height="80">
</a>{% endif %}
{% if headline %}<h3 align="center">{{ headline }}</h3>{% endif %}
{% if catchphrase or exploreTheDocsURL or viewDemoURL or reportBugURL or requestFeatureURL %}<p align="center">
{{ catchphrase }}
{% if exploreTheDocsURL %}<br/>
<br/>
<a href="{{ exploreTheDocsURL }}"><strong>Explore the docs »</strong></a>{% endif %}
{% if viewDemoURL or reportBugURL or requestFeatureURL %}<br/>
<br/>{% endif %}
{% if viewDemoURL %}<a href="{{ viewDemoURL }}">View Demo .</a>{% endif %}  
{% if reportBugURL %}<a href="{{ reportBugURL }}">Report Bug .</a>{% endif %}
{% if requestFeatureURL %}<a href="{{ requestFeatureURL }}">Request Feature</a>{% endif %}
</p>{% endif %}
</div>
{% endif %}
{% endmacro %}




{% macro aboutTheProjectMacro() %}{% if productScreenshot.altTag and productScreenshot.url or aboutTheProjectDescription %}## About The Project{% if productScreenshot.altTag and productScreenshot.url %}

![{{ productScreenshot.altTag }}]({{ productScreenshot.url }}){% endif %}{% if aboutTheProjectDescription %}

{{ aboutTheProjectDescription }}{% endif %}
{% endif %}{% endmacro %}




{% macro builtWithMacro() %}{% if builtWithDescription or builtWithList %}### Built With{% if builtWithDescription %}

{{ builtWithDescription }}{% endif %}{% if builtWithList %}
{% for item in builtWithList %}{% if item.name|length and item.url|length %}
- [{{ item.name }}]({{ item.url }}){% endif %}{% endfor %}{% endif %}
{% endif %}{% endmacro %}




{% macro gettingStartedMacro() %}{% if gettingStartedDescription %}## Getting Started

{{ gettingStartedDescription }}{% endif %}
{% endmacro %}




{% macro prerequisitesMacro() %}{% if prerequisitesDescription %}### Prerequisites

{{ prerequisitesDescription }}{% endif %}
{% endmacro %}




{% macro installationMacro() %}{% if installationDescription %}### Installation

{{ installationDescription }}{% endif %}
{% endmacro %}




{% macro usageMacro() %}{% if usageDescription %}## Usage

{{ usageDescription }}{% endif %}
{% endmacro %}




{% macro roadmapMacro() %}{% if roadmapDescription or openIssuesURL %}## Roadmap{% if roadmapDescription %}

{{ roadmapDescription }}{% endif %}{% if openIssuesURL %}

See the [open issues]({{ openIssuesURL }}) for a full list of proposed features (and known issues).{% endif %}{% endif %}
{% endmacro %}




{% macro contributingMacro() %}{% if contributingDescription %}## Contributing

{{ contributingDescription }}{% endif %}
{% endmacro %}




{% macro licenseMacro() %}{% if licenseName and licenseURL_url %}## License

Distributed under the {{ licenseName }} License. See [{{ licenseName }} License]({{ licenseURL_url }}) for more information.{% endif %}
{% endmacro %}




{% macro contactMacro() %}{% if contactDescription %}## Contact

{{ contactDescription }}{% endif %}
{% endmacro %}




{% macro acknowledgmentsMacro() %}{% if acknowledgmentsDescription or acknowledgmentsList %}## Acknowledgments{% if acknowledgmentsDescription %}

{{ acknowledgmentsDescription }}{% endif %}{% if acknowledgmentsList %}

{% for item in acknowledgmentsList %}{% if item.name|length and item.url|length %}
- [{{ item.name }}]({{ item.url }}){% endif %}{% endfor %}{% endif %}{% endif %}
{% endmacro %}